*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
:root{
    --black:#2A2525;
    --dark-brown:#60423C;
}
@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'Num-font';
    src: url('/assets/fonts/BIZUDPGothic-Regular.ttf');
}
