*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
:root{
    --black:#2A2525;
    --light-black: #444444;
    --dark-brown:#60423C;
    --add-text:#A91079;
}   
@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'num-font';
    src: url('/assets/fonts/BIZUDPGothic-Regular.ttf');
}

main{
    font-family: 'Open Sans', sans-serif;
    margin: 4vh auto;;
}
.current-location{
    font-size: 2rem;
    color: var(--light-black);
    display: flex;
    gap:2px;
    align-items: center;
}
.current-location .location-label{
    text-transform: capitalize;
    font-size: 1.5rem;
}

.current-date-time .time{
    font-size: 4rem;
    color: var(--black);
}
.current-date-time{
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    font-family: 'num-font' , sans-serif;
    flex-direction: column;
}
.current-date-time .meridies{
    font-size: 2.5rem;
    text-transform: uppercase;
}
.current-date-time .date{
    font-size: 1.1rem;
    color: var(--light-black);
    margin-top: -10px;
    margin-left: 10px;
}
.controller{
    display: flex;
    align-content: center;
    gap: 10px;
    font-size:1.1rem;
    margin-top: 58px;
    margin-left: 20px ;
    color: var(--add-text);
}

.Diff-Country{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* font-size: 1.5rem; */
    margin-top: -10px;
    gap: 10px;
}
.Diff-Country .country-label{
    font-size: 1.7rem;
    text-transform: capitalize;
    margin-top: 30px;
    font-weight: 300;
}

.other-location{
    z-index: 1;
    width: 300px;
    background-color: #333C83;
    border-radius:10px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 52px;
    position: relative;
    color: white;
    box-shadow: 1px 1px 15px #333C83;
}
.other-location .del{
    position: absolute;
    top:5px;
    right: 10px;
    font-size: 1.3rem;
}
.other-location .del:hover{
    cursor: pointer;
    color: var(--black);
}
.other-time{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 5px;
    gap: 10px;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'num-font', sans-serif;
}
.other-date{
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: -5px;
    margin-left: 5px;
}
.Time-Diff{
    margin-top: 20px;
    text-align: center;
    margin-left: -15px;
    font-size: 1.2rem;
    color: #CDC2AE;
}
.add-country{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    display: none;
}
.add-country input[type="text"]{
    box-shadow: 1px 1px 10px var(--black);
    min-width: 60vh ;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1.5rem;
}
.search-ico{
    font-size: 1.8rem;
    margin-left: -40px;
}
*:focus{
    outline: none;
}
.controller i:hover,.controller span:hover{
    cursor: pointer;
    color: var(--add-text);
}
.close{
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: black;
    display: flex;
    align-items: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.close-ico{
    font-size: 2.5rem;
}
.text-close{
    font-size: 1.8rem;
}
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }