*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
:root{
    --black:#2A2525;
    --light-black: #444444;
    --dark-brown:#60423C;
    --add-text:#A91079;
}   
@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: 'num-font';
    src: url('/assets/fonts/BIZUDPGothic-Regular.ttf');
}

main{
    font-family: 'Open Sans', sans-serif;
    margin: 4vh auto;;
}
.current-location{
    font-size: 2rem;
    color: var(--light-black);
    display: flex;
    gap:2px;
    align-items: center;
    margin-left: 20px;
}
.current-location .location-label{
    text-transform: capitalize;
    font-size: 1.5rem;
}

.current-date-time .time{
    font-size: 4rem;
    color: var(--black);
}
.current-date-time{
    margin-left: 60px;
    margin-top: 5px;
    display: flex;
    font-family: 'num-font' , sans-serif;
    flex-direction: column;
}
.current-date-time .meridies{
    font-size: 2.5rem;
    text-transform: uppercase;
}
.current-date-time .date{
    font-size: 1.1rem;
    color: var(--light-black);
    margin-top: -10px;
    margin-left: 10px;
}
.controller{
    display: flex;
    align-content: center;
    gap: 10px;
    font-size:1.1rem;
    margin-top: 58px;
    margin-left: 20px ;
    color: var(--add-text);
}

.Diff-Country{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* font-size: 1.5rem; */
    margin-top: -10px;
    gap: 10px;
    flex-wrap: wrap;
}
.Diff-Country .country-label{
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-overflow: ellipsis;
    margin-top: 30px;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden ;
}

.other-location{
    z-index: 1;
    width: 300px;
    background-color: #333C83;
    border-radius:10px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 52px;
    position: relative;
    color: white;
    box-shadow: 1px 1px 15px #333C83;
}
.other-location .del{
    position: absolute;
    top:5px;
    right: 10px;
    font-size: 1.3rem;
}
.other-location .del:hover{
    cursor: pointer;
    color: var(--black);
}
.other-time{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 5px;
    gap: 10px;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'num-font', sans-serif;
}
.other-date{
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: -5px;
    margin-left: 5px;
}
.Time-Diff{
    margin-top: 20px;
    text-align: center;
    margin-left: -15px;
    font-size: 1.2rem;
    color: #CDC2AE;
}
.add-ico:hover{
    cursor: pointer;
}
.add-country{
    width: 50%;
    position: absolute;
    background-color: white;
    display: none;
    /* height: 20vh; */
    z-index: 10;
    left: 50%;
    top: 10%;
    transform: translate(-50%,0);
    border-radius: 10px;
    border: 1px solid #333C83;
    box-shadow: 0px 0px 20px #030303;
    padding: 20px;
}
.close-ico{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.5rem;
}
.close-ico:hover{
    cursor: pointer;
    font-size: 1.8rem;
    color: red;
}
.model-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: var(--black);
}
.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.search-box input[type="text"]{
    width: 60%;
    padding: 6px 10px;
    font-size: 110%;
    border: 1px solid #333C83;
    border-radius: 12px ;
}
.search-box .search-ico{
    margin-left: -30px;
}
.search-box input[type="text"]:focus{
    border: 1px solid var(--add-text);
}
.cities-list{
    height: 50vh;
    margin-top: 20px;
    overflow: auto;
}
.cities-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 8px 15px;
}
.cities-items:nth-child(odd){
    background-color: #dedfe3;
    color: rgb(0, 0, 0);
}
/* .ri-check-fill{
    color: green;
    font-weight: 600;
    font-size: 1.5rem;
} */
.cities-items:hover{
    cursor: pointer;
    background-color: #333C83;
    color: white;
}
/* width */
.cities-list::-webkit-scrollbar {
    width: 15px;
}
.cities-list::-webkit-scrollbar-track{
    background-color: #efefef;
    /* border-radius: 5px; */
}
.cities-list::-webkit-scrollbar-thumb{
    background-color: #333c83c4;
    border-radius: 5px;
}